* {
    font-family: 'Roboto', sans-serif;
}

.pricing-redesing {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding-top: 48px;
}

.intro-header-wrapper {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 16px;
}

.title-primary {
    color: #45395B;
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

.button-wrapper {
    margin: auto;
    margin-bottom: 64px;
    width: 296px;
    background: #fff;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(114, 127, 150, 0.32);
    box-shadow: 0px 8px 16px 0px rgba(114, 127, 150, 0.32);
    padding: 4px;
    border-radius: 28px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.button-wrapper #button-decoration {
    position: absolute;
    height: calc(100% - 8px);
    width: 171px;
    background-color: #7E5FF1;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(114, 127, 150, 0.32);
    box-shadow: 0px 8px 16px 0px rgba(114, 127, 150, 0.32);
    border-radius: 24px;
    left: 4px;
    -webkit-transition: ease background-color .3s;
    transition: ease background-color .3s;
}

.cloud-button {
    color: #fff;
    -webkit-transition: ease color .4s;
    transition: ease color .4s;
    background-color: transparent;
    text-align: center;
    padding: 4px 65px;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: ease color .4s;
    transition: ease color .4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.self-button {
    background-color: transparent;
    color: #727F96;
    padding: 4px 16px;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: ease color .4s;
    transition: ease color .4s;
    text-align: center;
}

.show-plans {
    display: none;
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    position: relative;
    margin-left: 24px;
    cursor: pointer;
    color: #727F96;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.table-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pricing-table {
    min-width: 50%;
    display: block;
}

.row-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.column-description {
    max-width: 336px;
    width: 100%;
    -webkit-box-align: start !important;
    -ms-flex-align: start;
    align-items: start !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.column-wrapper {
    width: 328px;
}

.column-startup {
    padding: 9px;
    border: 0;
    height: 40px;
    max-width: 328px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.column-business {
    background-color: transparent;
    text-align: center;
    color: #fff;
    padding: 9px;
    border: 0;
    height: 40px;
    margin-left: 4px;
    margin-right: 4px;
    position: relative;
    background-color: #ffffff;
    max-width: 320px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.column-decoration .column-popular:before {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.column-popular:before {
    position: absolute;
    left: -4px;
    top: -1px;
    width: calc(100% + 8px);
    height: calc(100% + 1px);
    content: '';
    background-color: #7E5FF1;
    z-index: -1;
}

.column-decoration .column-popular {
    background-color: transparent;
    text-align: center;
    color: #fff;
}

.popular-decoration {
    margin: auto;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.column-quote {
    padding: 9px;
    border: 0;
    height: 40px;
    max-width: 328px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.row-data .column-description {
    padding: 16px 28px 16px 0;
    border-top: 1px solid #DCDDE1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.column-feature-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.column-feature-img {
    margin-right: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.plan-img {
    -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
}

.column-feature-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.column-feature-title {
    margin-bottom: 2px;
    cursor: pointer;
    color: #7E5FF1;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.column-feature-subtitle {
    color: #585858;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.column-plan {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #DCDDE1;
    border-top: 1px solid #DCDDE1;
    max-width: 328px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.green-checkmark {
    width: 24px;
    height: 24px;
    background: url(../images/green-checkmark.svg);
    font-family: inherit;
}

.column-popular {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    margin-left: 4px;
    margin-right: 4px;
    border-top: 1px solid #DCDDE1;
    position: relative;
    background-color: #ffffff;
    max-width: 320px;
    max-width: 328px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.column-popular:before {
    position: absolute;
    left: -4px;
    top: -1px;
    width: calc(100% + 8px);
    height: calc(100% + 1px);
    content: '';
    background-color: #7E5FF1;
    z-index: -1;
}